@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bodyFont: var(--font-bodyFont);
  --font-doto: var(--font-doto);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bodyFont);
}

::-webkit-scrollbar {
  display: none;
}
