@import "tailwindcss";

@theme {
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
}

:root {
  --background: #0c0c0c;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-secondary);
}

::-webkit-scrollbar {
  display: none;
}
