@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #eeeeee;
  --border: #272727;
  --accent: #202020;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar {
  display: none;
}