@import "tailwindcss";

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-zinc-300, currentColor);
    }
}

:root {
    --background: #000000;
    --foreground: #cad3f5;
}

body {
    color: var(--foreground);
    background: var(--background);
}

::-webkit-scrollbar {
    display: none;
}
